{% extends "base_jinja.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="/static/css/clips_grid.css" />
{% endblock %}
{% block content %}
<div id="grid">
{% for thumb in thumbs %}<a class="grid_cell" href="{{thumb.page}}"><img src="{{thumb.src}}" _colorsrc="" width="192" height="108" /></a>{% endfor %}<div id="logo_108" class="grid_cell">
<h1><a href="/">Public Videos</a></h1>
<input type="text" id="search" value="{{ query_text }}" onClick="this.select()" onChange="submit_search(this)" />
{% if didyoumean %}<p class="didyoumean">Did you mean <a href="/?q={{ didyoumean }}">{{ didyoumean }}</a>?</p>{% endif %}
</div>
</div>
<script type="text/javascript">
var is_search_results = {{ is_search_results }}
</script>
<script type="text/javascript" src="/static/lib/mootools-1.2.4-core-elements-all-fw-tween.js"></script>
<script type="text/javascript" src="/static/js/clips_grid.js"></script>
{% endblock %}