{% extends "base_jinja.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extrahead %}
<link rel="canonical" href="http://alpha.publicvideos.org/sets/" />
{% endblock %}
{% block content %}
<h1 class="text-browser-only">{{ page_title }}</h1>
<h2>Available Clip Sets</h2>
<ul>
    {% for set in available_sets %}
    <li><a href="/set/{{ set.set_slug }}">Videos from the contributor {{ set.contributor}}, {{ set.month }} of {{ set.year }} batch, part {{ set.part}}</a></li>
    {% endfor %}
</ul>
<p>
    <a href="/">Public Videos(alpha) Home</a>
{% endblock %}