{% extends "base_jinja.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="/static/css/show.css" />
    <script type="text/javascript" src="/static/js/show.js"></script>
{% endblock %}
{% block content %}
    <div id="header" class="h272">
        <h1 id="title">{{ video_title }}</h1>
    </div>
    <div id="s360" class="box">
        <div id="s272" class="box selected">
        <!-- 480x272 -->
        <video class="video" width="480" height="272" controls {% if versions['272.JPG'] is defined %} poster="{{ versions['272.JPG'].url }}"{% endif %}>
            <source src="{{ versions['272.OGV'].url }}" type='video/ogg; codecs="theora, vorbis"' />
            <source src="{{ versions['272.MP4'].url }}" type="video/mp4"/>
            <p>Sorry, you need Ogg Video support to see this video. Try upgrading your browser or <a href="http://getfirefox.com">download Firefox</a></p>
        </video>
      </div>
        <!-- 640x360 -->
        <video class="video" width="640" height="360" {% if versions['360.JPG'] is defined %} poster="{{ versions['360.JPG'].url }}"{% endif %}
            <source src="{{ versions['360.OGV'].url }}" type='video/ogg; codecs="theora, vorbis"' />
            <source src="{{ versions['360.MP4'].url }}" type="video/mp4"/>
            <p>Sorry, you need Ogg Video support to see this video. Try upgrading your browser or <a href="http://getfirefox.com">download Firefox</a></p>
        </video>
    </div>
    <div id="actions" class="a272">
        <div class="menubar">
            <div style="float:left;width:5%;"><a href="#" title="Previous Clip">«</a></div>
            <div class="tabs">
                <a title="Available versions for download." _panel="downloads-panel">download</a> •
                <a title="License terms for this clip." _panel="license-panel">license</a>
            </div>
            <div style="float:left;width:5%;"><a href="#" title="Next Clip">»</a></div>
            <div style="float:none;clear:both;"></div>
        </div>
        <div class="shadow"></div>
        <!-- Label Panel -->
        <div id="panel-container">
            <!-- Download Panel -->
            <div class="panel" id="downloads-panel">
                <table>
                    <caption>Available Downloads</caption>
                    <tr id="d272" class="zebra-odd selected">
                        <td>Small (480x272)</td>
                        <td><a href="{{ versions['272.OGV'].url }}" title="{{ versions['272.OGV'].size|filesizeformat }}">ogv</a></td>
                        <td><a href="{{ versions['272.MP4'].url }}" title="{{ versions['272.MP4'].size|filesizeformat }}">mp4</a></td>
                    </tr>
                    <tr id="d360" class="zebra-even">
                        <td>Medium (640x360)</td>
                        <td><a href="{{ versions['360.OGV'].url }}" title="{{ versions['360.OGV'].size|filesizeformat }}">ogv</a></td>
                        <td><a href="{{ versions['360.MP4'].url }}" title="{{ versions['360.MP4'].size|filesizeformat }}">mp4</a></td>
                    </tr>
                </table>
            </div> <!-- end downloads-panel -->
            <!-- License Panel -->
            <div class="panel" id="license-panel">
                <h3>Creative Commons CC0 1.0 Universal</h3>
                <h4>Summary</h4>
                <p>
                    The person who associated a work with this document has 
                    dedicated the work to the Commons by waiving all of his or
                    her rights to the work worldwide under copyright law and 
                    all related or neighboring legal rights he or she had in 
                    the work, to the extent allowable by law.
                </p>
                <p>
                    Works under CC0 do not require attribution. When citing 
                    the work, you should not imply endorsement by the author.
                </p>
                <h4>Legal Code</h4>
                <p>
                    Click the following link to read the 
                    <a href="http://creativecommons.org/publicdomain/zero/1.0/legalcode" rel="license">
                        full legal code of the waiver applied to this clip</a>.</p>
            </div> <!-- end downloads-panel -->
        </div> <!-- end panel-container -->
    </div> <!-- end actions -->
    <div id="navigation">
        <p>J:next, K:previous, +:bigger, -:smaller, spacebar:play/pause
    </div>
    <div id="watermark">
        <p><a href="http://alpha.publicvideos.org">Public Videos</a></p>
    </div>
    <!-- Javascript libraries -->
    <script type="text/javascript" src="/static/lib/mootools-1.2.3-core-nc.js"></script>
    <script type="text/javascript">
        init();
    </script>
{% endblock %}