{% extends "base.html" %}

{% block title %}About{% endblock %}
{% block extrahead %}
<style>
body{
    background-color:#fff;
}
#content  {
    font-family:Arial,sans-serif;
    width:50%;
    margin:auto;
    margin-bottom:80px;
}
#letter {
    background-color:Cornsilk;
    padding:2em;
}
#last-update p{
    font-size:12px;
    background-color: #ddd;
    display:inline;
}
</style>
{% endblock %}

{% block content %}
<h1>About Public Videos</h1>
<div id="last-update"><p>Last updated on January 08, 8:02pm (GMT).</p></div>
<p>
    Public Videos is a repository of open, original, high-quality, and 
    royalty-free video footage that are released or waiting-to-be-released 
    into the commons as public domain with the help of the website users.
</p>
<p> 
    Since this website is still under development, I've been busy with other
    parts of it and haven't got much time to spend on an about page, so I've written
    the following letter that summarizes the purpose and goals of the website.
    Hopefully I will organize this space better when we reach the Beta :)
</p>
<h2>Letter from the founder</h2>
<div id="letter">
<h3>Public Domain and Free Culture</h3>
<p>
On January 1st of this year we celebrated the 
<a href="http://www.google.com/search?q=public+domain+day+2010">Public Domain day</a>, 
although one might argue that there wasn't much to celebrate at all since in 
the US and some other countries, thanks to retroactive copyright term 
extensions we are living a public domain ice age and 
<a href="http://everybodyslibraries.com/2010/01/01/public-domain-day-2010-drawing-up-the-lines/">few works will return 
to the commons for the next 9 years</a>.
</p>
<p>
That's a bummer, since culture is always better when it can be shared, 
reused and repurposed freely. Specially nowadays, when regular people can have 
access to editing tools and publishing channels only available to a few in the 
past, and artists continue to amaze us with their art built on top of other works.
</p>
<p>
Luckily, for the ones in tune with our generation's speed, there are legal 
tools like the <a href="http://creativecommons.org">Creative Commons</a> licenses 
that allows people to release their stuff under better-than-the-default terms. 
Or even, as is the case of the <a href="http://wiki.creativecommons.org/CC0_FAQ">CC0 waiver</a>, 
allows copyright owners to narrow the time it would take for the work to return 
to the commons to zero.
</p>

<h3>Enter Public Videos.</h3>
<p>
Since around 1 year ago I've been sponsoring the shooting of generic 
stock-footage clips using consumer high definition camcorders with the goal 
of building a free clips farm that could be freely used by anyone for any purpose. 
Similar to projects like <a href="http://openclipart.org/">Open Clip Art</a> but for open video.
</p>
<p>
Then last year, at the time I left my good job on a <a href="http://ning.com">Palo Alto based startup</a>
 I had already a reasonable sized collection and enough savings to live some 
 months on my own and to invest on the building of the web system and business 
 model that would make it possible for a free footage library to exist.
</p>

<h3>Public Videos Alpha.</h3>
<p>
As I said earlier, the website is not done. But I thought I could use some 
help and feedback by allowing everyone to sneak-peak the project as it 
develops and at the same time let people play with it and use the material 
while the basic launch library is still being populated.
</p>
<p>
Bare in mind that this is very early-stage and still missing very basic 
important features, it is unstable and bugs are expected while on this 
experimental stage. The good news is that the development is moving at a 
reasonable decent speed for a "1 to 3 people" design and dev gig, that is :)
</p>
<p>
The idea is to reach feature-completness and a "ready for production" stamp 
sometime next month, but I don't want to make promisses… 
</p>
<p>
I sincerily hope you like it. If you have suggestions or want to participate 
more actively in the alpha and soon-to-come beta stages please feel free to 
contact me by email, or register yourself in our mailing list, ask questions on the faq page,
use the wiki, or the launchpad page. See the links below.
</p>
<p>Enjoy!</p>
<p><a href="http://fabricio.org">Fabricio C Zuardi</a></p>
</div>
<h2>How to contribute</h2>
<ul>
    <li><a href="http://groups.google.com/group/publicvideos">Subscribe to the mailing list</a></li>
    <li><a href="http://wiki.publicvideos.org/main?do=register">Register yourself on the Wiki</a> (mostly random dev stuff at the moment)</li>
    <li><a href="/join_beta">Become a Tester</a></li>
    <li><a href="/development">Development</a></li>
    <li><a href="/launch_notification">Be notified when the beta launches</a></li>
</ul>
<h2>FAQ</h2>
<iframe src="http://www.formspring.me/widget/view/publicvideos?&size=large&bgcolor=%23FFFFFF&fgcolor=%23333333" frameborder="0" scrolling="no" width="400" height="275" style="border:none;"><a href="http://www.formspring.me/publicvideos">http://www.formspring.me/publicvideos</a></iframe>
<p>
    Since this project is still under development and up until recently was under
    a private alpha there are no frequent asked questions.
</p>
<p>
    But you can use <a href="/faq">this temporary website if you want to ask any question</a> :)
</p>
<p><a href="/">Back to the alpha home page</a>
{% endblock %}
