/*CSS Reset*/
body,h1,h2,h3,h4,a,img,div,p,video,ol,li,table,caption,thead,tr,td {margin:0px;padding:0px;border:none;}

/* General */
body{
  background-color:#000;
  font-family:Arial, sans-serif;
  color:#444;
}
a{text-decoration:none;}
a{color:#888;}
a:hover{color:#fff;}
.float-breaker{float:none;clear:both;}

/* Header */
#header h1{
  color:#fff;
  font-size:1.5em;
  margin-left:1.13em;
  margin-right:1.13em;
}
#header h2{
  font-size:1em;
  margin-left:1.7em;
  margin-right:1.7em;
  margin-top:0.6em;
}
#header{
  position:absolute;
  background-color:#161616;
  z-index:50;
  padding-top:1em;
  padding-bottom:1em;
}
#header.lights-off{display:none;}
#unlocked-credit{display:none;}
#header.h272 {width:480px; bottom:55%;margin-bottom:134px;left:50%;margin-left:-238px;font-size:1em;}
#header.h360 {width:640px; bottom:55%;margin-bottom:179px;left:50%;margin-left:-319px;font-size:1.15em;}
#header.h540 {width:960px; bottom:55%;margin-bottom:268px;left:50%;margin-left:-478px;font-size:1.30em;}
#header.h720 {width:1280px;bottom:55%;margin-bottom:359px;left:50%;margin-left:-639px;font-size:1.45em;}
#header.h1080{width:1920px;font-size:2em;}


#main-play-button {
  position:absolute;
  z-index:59;
  opacity:0;
  outline:0;
}
#main-play-button img{
  width:100%;
  height:100%;
}
#main-play-button:hover{
  opacity:1;
}
/*
#main-play-button.p272 {width:82px;height:82px;bottom:55%;margin-bottom:-42px;left:50%;margin-left:-42px;}
#main-play-button.p360 {width:108px;height:108px;bottom:55%;margin-bottom:-54px;left:50%;margin-left:-54px;}
*/
#main-play-button.p272 {width:93px;height:110px;bottom:55%;margin-bottom:-50px;left:50%;margin-left:-37px;}
#main-play-button.p360 {width:93px;height:110px;bottom:55%;margin-bottom:-50px;left:50%;margin-left:-37px;}
#throbber{
  z-index:61;
  margin-left:-16px;
  margin-top:-16px;
  top:45%;
  left:50%;
  display:block;
  position:absolute;
  display:none;
}
/* Video Containers */
.box{
  border:1px solid transparent;
  background:none;
  background-color:#111;
  z-index:0;
  cursor:pointer;
}
.box.below,
.box.selected{
  background:none;
  border-color:transparent;
  cursor:default;
}
.box.locked,
.box.lights-off,
.box.below.lights-off{
  cursor:default;
  background:none;
}

.box .video{position:absolute;}
.box>.video{opacity:.2;}
.box.locked>.video{opacity:.05;}
.box.selected>.video{
  visibility:visible;
  opacity:1;
}
.box.below>.video{visibility:hidden;}
div.box.below:hover{
  background-color:#000;
  border-color: #fff;
  opacity:.5;
  cursor:pointer;
}
div.box.lights-off>.video{visibility:hidden;}
div.box.below.lights-off{visibility:hidden;}
div.box.selected.lights-off>video{visibility:visible;}
.unlock-button{
  position:absolute;
  opacity:0.02;
  top:50%;
  left:50%;
  width:60px;
  height:50px;
  overflow:hidden;
  white-space:normal;
  margin-top:-25px;
}
.unlock-button:hover{opacity:1;}
.unlock-button.highlight{
  opacity:1;
}
.unlock-button.lights-off{display:none;}
.box.unauthorized{background-color:#300;}
#s272 {width:480px;height:272px; position:absolute;top:50%;margin-top:-136px;left:50%;margin-left:-240px;z-index:15;}
#s360 {width:640px;height:360px; position:absolute;top:45%;margin-top:-180px;left:50%;margin-left:-320px;z-index:14;}
#s540 {width:960px;height:540px; position:absolute;top:50%;margin-top:-270px;left:50%;margin-left:-480px;z-index:13;}
#s720 {width:1280px;height:720px;position:absolute;top:50%;margin-top:-360px;left:50%;margin-left:-640px;z-index:12;}
#s1080{width:1920px;height:1080px;z-index:11;}

#b540 {margin-left:-390px;z-index:16;}
#b720 {margin-left:-550px;z-index:17;}
#b1080{margin-left:-710px;z-index:18;}

.static-poster{
  position:absolute;
}
/*Film ratings style unsupported <vide> tag disclaimer */
#w272 {width:480px;height:272px;}
#w360 {width:640px;height:360px;}

.warning{
  background-color:#500;
  color:#fff;
  display:block;
  text-align:center;
  text-transform:uppercase;
}
.warning a{
  color:#fff;
  border-bottom-style:dotted;
  border-bottom-width:1px;
}
.warning a:hover{  border-bottom-style:solid;}
.warning b{font-size:16px;}
.warning p{
  font-size:14px;
  line-height:25px;
}
.warning p.middle{
  position: absolute;
  width:100%;
  top:50%;
  margin-top:-5em;
}
.warning .bottom{
  bottom:0px;
  width:100%;
  position:absolute;
}
.warning p.useflash{
  font-size:12px;
  text-transform:none;
  margin-bottom:5px;
}
.warning p.bottomlink{
  text-transform:none;
  font-size:12px;
}
.warning .left{
  float:left;
  margin-left:1em;
}
.warning .right{
  float:right;
  margin-right:1em;
}

/* Actions menu */
#actions{
  position:absolute;
  z-index:40;
  line-height:1.6em;
}
#actions.lights-off{display:none;}
#actions .menubar{
  background-color:#161616;
  text-align:center;
}
#actions .shadow{
  height:20px;
  background-image:url(/static/images/top-shadow.png);
  background-position:top;
  background-repeat:repeat-x;
}
#actions .menubar .tabs{
  float:left;
  width:90%;
}
#actions .menubar .tabs a{
  cursor:pointer;
}
#actions .menubar .tabs .selected{
  color:#fff;
}
.a272 {width:480px; top:45%;margin-top:138px;left:50%;margin-left:-238px;font-size:1em;}
.a360 {width:640px; top:45%;margin-top:181px;left:50%;margin-left:-319px;font-size:1.15em;}
.a540 {width:960px; top:45%;margin-top:272px;left:50%;margin-left:-478px;font-size:1.30em;}
.a720 {width:1280px;top:45%;margin-top:361px;left:50%;margin-left:-639px;font-size:1.45em;}
.a1080{width:1920px;top:1081px;font-size:2em;}

/* Panels */
#panel-container{
  margin-top:-20px;
  position:relative;
  overflow:hidden;
  z-index:-1;
  height:20px; /* this is changed by javascript */
  margin-bottom:80px;
}
.panel{
  background-color:#111;
  position:absolute;
  width:100%;
  padding-top:20px;
  display:none;
}
.panel.opened{
  display:block;
}
.panel h3,
.panel h4,
.panel table caption{
  color:#bbb;
  font-size:1.6em;
  font-weight:bold;
  text-align:center;
  margin-bottom:0.6em;
}
.panel h4{
  font-size:1em;
}
.panel p{
  margin-left:1em;
  margin-right:1em;
  margin-bottom:0.6em;
}
.panel .zebra-even{background-color:#161616;}
.panel .zebra-odd{background-color:#202020;}

/* Download Panel */
#downloads-panel table{
  width:80%;
  padding-bottom:1.5em;
  margin:auto;;
}
#downloads-panel td{
  padding-top:0.3em;
  font-size:0.8em;
}
#downloads-panel td{padding-left:1em;}
#downloads-panel td.centered{text-align:center;padding-left:0;}
#downloads-panel tr.selected{
  color:#fff;
  background-color:#444;
  font-weight:bold;
}

/* Label Panel */
.panel .taglist{
  margin-bottom:1.5em;
  padding:0 1.3em 1em;
  border-bottom:1px solid #222;
  text-align:center;
}
.panel .taglist li{
  display: inline;
  text-transform: lowercase;
  margin-right:.2em;
}
.panel .taglist .fisrt {
  text-transform: capitalize;
}
.panel .taglist .tag.s1{font-size:1.3em;}
.panel .taglist .tag.s2{font-size:1.25em;}
.panel .taglist .tag.s3{font-size:1.20em;}
.panel .taglist .tag.s4{font-size:1.15em;}
.panel .taglist .tag.s5{font-size:1.10em;}
.panel .taglist .tag.s6{font-size:1.05em;}
.panel .taglist .tag.s7{font-size:1.00em;}
.panel .taglist .tag.s8{font-size:0.95em;}
.panel .taglist .tag.s9{font-size:0.90em;}
.panel .taglist .tag.s10{font-size:0.85em;}
.panel .taglist .tag.s12{font-size:0.80em;}
.panel .taglist .tag.s13{font-size:0.75em;}
.panel .taglist .tag.s14{font-size:0.70em;}
.panel .taglist .tag.s15{font-size:0.65em;}
.panel .user-label-list{
  list-style:none;
  padding:1.5em;
  padding-top:0.5em;}
.panel .avatar{
  width:4%;
  height:auto;
  float:left;
  margin:0.3em;
}
.panel .user{font-weight:bold;font-size:0.8em;}
.panel .keywords{font-size:0.8em;}

/* Others */
#navigation{
  display:none;
}
#logo_108{
    text-align:left;
}
#logo_108 img{
  position:absolute;
  margin-left:-47px;
}
#logo_108 input {
  position:relative;
  background-color:#313131;
  border:4px solid #313131;
  color:#FFFFFF;
  font-family:Lucida Grande,Lucida Sans,sans-serif;
  font-size:12px;
  height:11px;
  margin-left:30px;
  margin-top:39px;
  width:89px;
}
.watermark {
  width:155px;
  height:94px;
  position:fixed;
  z-index:60;
  right:0px;
  bottom:0px;
}