<!DOCTYPE html>
<head>
  {% block head %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{% block title %}{% endblock %} — Publicvideos.org</title>
  {% block extrahead %}{% endblock %}
  {% endblock %}
</head>
<body {% block body_attributes %}{% endblock %}>
  <menu>
    {% block menu %}{% endblock %}
  </menu>
  <header>
    {% block header %}{% endblock %}
  </header>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
  <footer>
    {% block footer %}{% endblock %}
  </footer>
  {% block extra_scripts %}
  {% endblock %}
  {% include 'analytics_code.html' %}
</body>
</html>
